[defaults]
inventory=./inventory
roles_path=./roles
host_key_checking=True
allow_world_readable_tmpfiles=True
remote_user=ubuntu
transport=smart

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[paramiko_connection]

[ssh_connection]
ssh_args=-C -o ControlMaster=auto -o ControlPersist=10m -o ForwardAgent=yes
control_path=%(directory)s/ansible-ssh-%%C
pipelining=True
transfer_method=smart

[accelerate]

[selinux]

[colors]
highlight=white
verbose=blue
warn=bright purple
error=red
debug=dark gray
deprecate=purple
skip=cyan
unreachable=red
ok=green
changed=yellow
diff_add=green
diff_remove=red
diff_lines=cyan

[diff]
always = yes
context = 6